{% extends "base.twig" %}

{% block content %}
<div class="container">
    <p>F1 thing.</p>
</div>
{% endblock %}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    </script>
{% endblock %}