{% extends "base.twig" %}

{% block content %}
<div class="container">
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>
{% endblock %}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Temperature'],
          [1372369802, 58.9],
[1372369861, 58.9],
[1372369921, 59.5],
[1372369981, 59.5],
[1372370041, 58.9],
[1372370101, 58.9],
[1372370161, 58.4],
[1372370221, 58.4],
[1372370281, 58.4],
[1372370342, 58.9],
[1372370401, 59.5],
[1372370461, 59.5],
[1372370521, 59.5],
[1372370581, 59.5],
[1372370641, 58.9],
[1372370701, 59.5],
[1372370761, 59.5],
[1372370821, 59.5],
[1372370881, 59.5],
[1372370941, 59.5],
[1372371001, 59.5],
[1372371061, 59.5],
[1372371121, 58.4],
[1372371181, 59.5],
[1372371242, 58.4],
[1372371301, 58.4],
[1372371361, 59.5],
[1372371421, 59.5],
[1372371482, 58.9],
[1372371541, 58.9],
[1372371601, 58.9],
[1372371661, 58.9],
[1372371722, 59.5],
[1372371781, 59.5],
[1372371841, 59.5],
[1372371901, 59.5],
[1372371962, 59.5],
[1372372021, 59.5],
[1372372081, 58.9],
[1372372141, 58.4],
[1372372201, 59.5],
[1372372261, 58.9],
[1372372321, 58.9],
[1372372381, 58.9],
[1372372441, 59.5],
[1372372501, 59.5],
[1372372561, 58.9],
[1372372621, 58.9],
[1372372681, 58.4],
[1372372742, 59.5],
[1372372801, 59.5],
[1372372861, 59.5],
[1372372921, 58.4]
          ]);

        var options = {
          title: 'CPU Temp'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}