{% extends "base.twig" %}
{% block title %}Password Reset{% endblock %}

{% block content %}
<!-- Main hero unit -->
<div class="well">
    <h2>Password Rest</h2>
    <form class="form-horizontal" method="post" action="{{ path('change_password') }}">
        <div id="div_id_currentPassword" class="control-group">
            <label for="" class="control-label requiredField">
                Current Password<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_currentPassword" type="password" class="textinput textInput" name="currentPassword">
            </div>
        </div>
        <div id="div_id_newPassword" class="control-group">
            <label for="" class="control-label requiredField">
                New Password<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_newPassword" type="password" class="textinput textInput" name="newPassword">
            </div>
        </div>
        <div id="div_id_confirmPassword" class="control-group">
            <label for="" class="control-label requiredField">
                Confirm Password<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_confirmPassword" type="password" class="textinput textInput" name="confirmPassword">
            </div>
        </div>
        <div class="controls">
            <input type="submit" name="submit" value="Submit" class="btn btn-primary button white" id="submit-id-submit">
        </div>
    </form>
</div>
{% endblock %}