.flair{
	background:url(http://e.thumbs.redditmedia.com/_gtQudaFtT0oOkfp.png) no-repeat scroll -9999px -9999px transparent
}
.flair-alonso{
	background-position:-1px -1px
}
.flair-button{
	background-position:-1px -18px
}

.flair-delarosa{
	background-position:-1px -35px
}

.flair-diresta{
	background-position:-1px -52px
}

.flair-glock{
	background-position:-1px -69px
}

.flair-grosjean{
	background-position:-1px -86px
}

.flair-hamilton{
	background-position:-1px -103px
}

.flair-hulkenberg{
	background-position:-1px -120px
}

.flair-karthikeyan{
	background-position:-1px -137px
}

.flair-kobayashi{
	background-position:-1px -154px
}

.flair-kovalainen{
	background-position:-1px -171px
}

.flair-maldonado{
	background-position:-1px -188px

}

.flair-massa{
	background-position:-1px -205px
}

.flair-perez{
	background-position:-1px -222px
}

.flair-petrov{
	background-position:-1px -239px

}

.flair-raikkonen{
	background-position:-1px -256px
}
.flair-ricciardo{
	background-position:-1px -273px
}

.flair-rosberg{
	background-position:-1px -290px

}

.flair-schumacher{
	background-position:-1px -307px
}

.flair-senna{
	background-position:-1px -324px
}

.flair-vergne{
	background-position:-1px -341px
}

.flair-vettel{
	background-position:-1px -358px
}

.flair-webber{
	background-position:-1px -375px
}

.flair-mika{
	background-position:-1px -392px
}

.flair-damon{
	background-position:-1px -409px
}

.flair-alain{
	background-position:-1px -426px
}

.flair-ayrton{
	background-position:-1px -443px
}

.flair-gilles{
	background-position:-1px -460px
}
	.flair-bellof{
		background-position:-1px -477px
	}

	.flair-clark{
		background-position:-1px -494px
	}

	.flair-rindt{
		background-position:-1px -511px
	}

	.flair-david{
		background-position:-1px -528px
	}

	.flair-kubica{
		background-position:-1px -545px
	}
	.flair-dambrosio{
		background-position:-1px -562px
	}

	.flair-alguersuari{
		background-position:-1px -579px
	}
	
	.flair-andretti{
		background-position:-1px -596px
	}

.flair-badoer{
		background-position:-1px -613px
}

.flair-barrichello{
	background-position:-1px -630px
}

.flair-bottas{
	background-position:-1px -647px
}

.flair-cevert{
	background-position:-1px -664px
}

.flair-chilton{
	background-position:-1px -681px
}

.flair-dacosta{
	background-position:-1px -698px
}

.flair-fabi{
	background-position:-1px -715px
}

.flair-fisichella{
	background-position:-1px -732px
}

.flair-fittipaldi{
	background-position:-1px -749px
}

.flair-frentzen{
	background-position:-1px -766px
}

.flair-gutierrez{
	background-position:-1px -783px
}

.flair-hunt{
	background-position:-1px -800px
}

.flair-ide{
	background-position:-1px -817px
}

.flair-inoue{
	background-position:-1px -834px
}

.flair-kovalainen2{
	background-position:-1px -851px
}

.flair-lauda{
	background-position:-1px -868px
}

.flair-montoya{
	background-position:-1px -885px
}

.flair-patrese{
	background-position:-1px -902px
}

.flair-peterson{
	background-position:-1px -919px
}

.flair-pic{
	background-position:-1px -936px
}

.flair-piquet{
	background-position:-1px -953px
}

.flair-pryce{
	background-position:-1px -970px
}

.flair-purley{
	background-position:-1px -987px
}

.flair-razia{
	background-position:-1px -1004px
}

.flair-rossi{
	background-position:-1px -1021px
}

.flair-sato{
	background-position:-1px -1038px
}

.flair-speed{
	background-position:-1px -1055px
}

.flair-villeneuve{
	background-position:-1px -1072px
}

.flair-visoiu{
	background-position:-1px -1089px
}

.flair-brabham{
	background-position:-1px -1106px
}

.flair-chandhok{
	background-position:-1px -1123px
}

.flair-hill{
	background-position:-1px -1140px
}

.flair-mansell{
	background-position:-1px -1157px
}

.flair-stewart{
	background-position:-1px -1174px
}

.flair-caterham{
	background-position:-1px -1191px
}

.flair-ferrari{
	background-position:-1px -1208px
}

.flair-forceindia{
	background-position:-1px -1225px
}

.flair-lotus{
	background-position:-1px -1242px
}

.flair-marussia{
	background-position:-1px -1259px
}

.flair-mclaren{
	background-position:-1px -1276px
}

.flair-mercedes{
	background-position:-1px -1293px
}

.flair-redbull{
	background-position:-1px -1310px
}

.flair-sauber{
	background-position:-1px -1327px
}

.flair-tororosso{
	background-position:-1px -1344px
}

.flair-williams{
	background-position:-1px -1361px
}


